<div class="header-user">
    <div class="header">
        <div class="logo"><a routerLink="/user"><img src="../../../assets/images/logo.svg" alt="logo" /> <p>STUDY<strong>UP</strong></p></a>
        </div>
        <nav>
            <ul class="nav">
                <li><a><img src="../../../assets/images/Rating.svg" alt="rating" class="rating"></a></li>
                <li><a><img src="../../../assets/images/Notifications.svg" alt="notifications" class="notifications"></a></li>
                <li><a><img src="../../../assets/images/ProfileIcon.svg" alt="profile"></a></li>
            </ul>
        </nav>
    </div>
</div>
