<user-header></user-header>
<div class="find__enemy__container">
    <div class="findEnemy">
        <div class="vectorBlock">
            <div class="battleVector"><img src="../../../../../../assets/images/vector-battle.svg" alt="vector-battle">
            <h1 class="title">Выберите соперника</h1>
        </div>
        <a class="back" routerLink="/user">Вернуться к списку тем<img src="../../../../../../assets/images/arrow.svg" alt="arrow"></a>
        </div>
        <div class="chooseEnemyBlock">
            <div class="trainingBlock">
                <img class="paws" src="../../../../../../assets/images/blue-paw.svg" alt="blue-paw">
                <h2 class="training">Тренировка с ботом</h2>
            </div>
            <button class="playBtn" (click)="createBattle()">Играть</button>
            <div class="randomPlayerBlock">
                <img class="paws" src="../../../../../../assets/images/green-paw.svg" alt="green-paw">
                <h2 class="randomPlayer">Игра со случайным соперником </h2>
            </div>
            <img class="lock" src="../../../../../../assets/images/lock.svg" alt="lock">
            <div class="playWithFriendBlock">
                <img class="paws" src="../../../../../../assets/images/red-paw.svg" alt="red-paw">
                <h2 class="playWithFriend">Игра с другом </h2>
            </div>
            <img class="lock" src="../../../../../../assets/images/lock.svg" alt="lock">
        </div>
        <div class="cat">
            <img  src="../../../../../../assets/images/cat-battle.svg" alt="cat-battle">
    </div>
</div>
</div>
