.header{
  padding: 30px 30px;
  box-sizing: border-box; 
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn__block {
  font-family: 'Rubik', sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
}

a {
  font-weight: 500;
  text-decoration: none;
}

.loginBtn {
  color: #000000;
  margin-right: 25px;
  border: 1px solid #000000;
  border-radius: 7px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 10px 25px;
}

.registrBtn {
  color: white;
  background-color: #000000;
  border-radius: 7px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 10px 25px;
}

