<user-header></user-header>
<div class="play-field-container">
  <div class="play-field">
    <div class="players-area">
      <div class="player-1">
        <img class="player-icon" src="../../../../../../assets/images/player-1.svg">
        <p>Игрок 1</p>
        <div class="health-bar" *ngIf="hearts$ | async as hearts">
          <img src="../../../../../../assets/images/hp.svg" *ngIf="hearts > 0">
          <img src="../../../../../../assets/images/hp.svg" *ngIf="hearts > 1">
          <img src="../../../../../../assets/images/hp.svg" *ngIf="hearts > 2">
          <img src="../../../../../../assets/images/emptyHP.svg" *ngIf="hearts === 0">
          <img src="../../../../../../assets/images/emptyHP.svg" *ngIf="hearts < 2">
          <img src="../../../../../../assets/images/emptyHP.svg" *ngIf="hearts < 3">
        </div>
      </div>
<!--      <div class="player-2">-->
<!--        <img class="player-icon" src="../../../../../../assets/images/player-2.svg">-->
<!--        <p>Игрок 2</p>-->
<!--        <div class="health-bar">-->
<!--          <img src="../../../../../../assets/images/hp.svg">-->
<!--          <img src="../../../../../../assets/images/hp.svg">-->
<!--          <img src="../../../../../../assets/images/hp.svg">-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="play-zone">
      <img src="../../../../../../assets/images/player-1-castle.svg">
      <img class="line" src="../../../../../../assets/images/play-field-line.svg">
      <user-game gameFieldDisabled [counts]="answers$ | async" [position]="0"/>
      <img class="line" src="../../../../../../assets/images/play-field-line.svg">
      <user-game gameFieldDisabled [counts]="answers$ | async" [position]="1"/>
      <img class="line" src="../../../../../../assets/images/play-field-line.svg">
      <user-game gameFieldDisabled [counts]="answers$ | async" [position]="2"/>
      <img class="line" src="../../../../../../assets/images/play-field-line.svg">
      <img src="../../../../../../assets/images/player-2-castle.svg">
    </div>
  </div>
</div>
