.play-field-container{
    padding: 10px  10px;
    background: url(../../../../../../assets/images/play-field-bg.svg) center center no-repeat;
    background-size: cover;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}          

.play-field{
    max-width: 1600px;
    margin-left: 7.597%;
    margin-bottom: 9.5%;
    margin-top: 3%;
}

.players-area{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

p{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px
}

.health-bar img{
    padding: 5px;
}

.play-zone {
    display: flex;
    justify-content: center;
}

.play-zone img{
    padding: 20px;
}

@media screen and (max-width:1350px){
    .play-field{
        scale: 80%;
    }
}

@media screen and (max-width:1075px){
    .play-field{
        scale: 60%;
    }
}

@media screen and (max-width:800px){
    .play-field{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}