<user-header></user-header>
<div class="main-container">
    <div class="text-part">
        <div class="vector"><img src="../../../assets/images/SubjectsVector.svg" alt="vector">
            <h1 class="text">Выберите предмет</h1>
        </div>
        <div class="cat"><img src="../../../assets/images/SubjectsCat.svg" alt="cat"></div>
    </div>
    <div class="btn__block">
            <a routerLink="/user/search"><img src="../../../assets/images/SubjectsMath.svg" alt="math"></a>
            <a routerLink="/"><img src="../../../assets/images/SubjectsRussian.svg" alt="russian"></a>
            <a routerLink="/"><img src="../../../assets/images/SubjectsInformatics.svg" alt="informatics"></a>
            <a routerLink="/"><img src="../../../assets/images/SubjectsOther.svg" alt="other"></a>
    </div>
</div>
