.main-container {
  padding: 5px;
  margin: 0 auto;
  max-width: 1400px;
  margin-bottom: 2%
}

.text-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  position: absolute;
}

.vector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.cat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 3.3%;
}

.btn__block a {
  margin: 10px;
}

@media screen and (max-width: 920px){
  .text-part{
    display: block;
  }
  .cat{
    display:none;
  }
}

@media screen and (max-width: 768px){
  .main-container{
    scale: 80%;
    margin-top: -82px;
    margin-bottom: -100px;
  }
  .text-part{
    margin-bottom:0;
  }
  .vector{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 642px){
  .main-container{
    scale: 70%;
    margin-top: -159px;
    margin-bottom: -126px;
  }
  .text{
    font-size:2rem;
  }
  .vector img{
    scale:70%;
  }
  .btn__block{
    scale:90%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width:590px) {
  .main-container{
    margin-top: -235px;

  }
}