.login__containter{
  padding: 10px  10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/images/login-bg.svg) center center no-repeat;
  background-size: 100%;
}

.login__block {
  margin-top: 10%;
  margin-right: 40%;
  margin-bottom: 13.25%;
  font-family: 'Rubik', sans-serif;
  
}

.title {
  margin-left: 17%;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
}

.input__block input{
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 7px;
  padding: 16px 300px 16px 18px;
  font-family: 'Rubik', sans-serif;
  margin: 20px;
}

.forgotPassword a {
  font-size: 0.875rem;
  line-height: 1rem;
  color:#5F5F5F;
  text-decoration-line: underline;
  margin-left: 350px;
}
.forgotPassword{
  margin-bottom: 25px;
}

.login button {
  color: #FFFFFF;
  background: #000000;
  border-radius: 7px;
  padding: 10px 25px;
  margin-left: 19px;
}
