<div class="loginPage" >
  <div class="title">Вход в аккаунт</div>
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <div class="input1">
      <input
        name="email"
        placeholder="E-mail"
        type="email"
        formControlName="email">
      <div *ngIf="email.invalid && email.touched" class="error">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors?.['email']">Invalid email format</div>
      </div>
    </div>
    <div class="input2">
      <input
        name="password"
        placeholder="Пароль"
        type="password"
        formControlName="password">
      <div *ngIf="password.invalid && password.touched" class="error">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.pattern">Password must be at least 8 characters long and have numbers</div>
      </div>
    </div>
    <div class="rectangle"><img src="../../../assets/images/Rectangle2.svg" alt="Rectangle1"/></div>
    <div class="line"><img src="../../../assets/images/Line1.svg" alt="Line1"/></div>
    <div class="cat"><img src="../../../assets/images/cat2.svg" alt="cat2"/></div>
    <div class="forgotPassword"><a>Забыли пароль?</a></div>
    <div class="login">
      <button>Войти</button>
    </div>
  </form>
</div>
