<app-header></app-header>
<div class="loginPage">
  <div class="title">Вход в аккаунт</div>
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <div class="input1">
      <input
        name="email"
        placeholder="E-mail"
        type="email"
        formControlName="email">
      <div *ngIf="email.invalid && email.touched" class="error">
        <div *ngIf="email.errors.required">E-mail обязателен</div>
        <div *ngIf="email.errors?.['email']">Некорректный e-mail</div>
      </div>
    </div>
    <div class="input2">
      <input
        name="password"
        placeholder="Пароль"
        type="password"
        formControlName="password">
      <div *ngIf="password.invalid && password.touched" class="error">
        <div *ngIf="password.errors.required">Пароль обязателен</div>
        <div *ngIf="password.errors.pattern">Пароль должен быть длиннее 7 символов и содержать цифры</div>
      </div>
    </div>
    <div class="rectangle"><img src="../../../assets/images/Rectangle2.svg" alt="Rectangle1"/></div>
    <div class="line"><img src="../../../assets/images/Line1.svg" alt="Line1"/></div>
    <div class="cat"><img src="../../../assets/images/cat2.svg" alt="cat2"/></div>
    <div class="forgotPassword"><a>Забыли пароль?</a></div>
    <div class="login">
      <button [disabled]="loginForm.invalid">Войти</button>
    </div>
  </form>
</div>
