.game-board {
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.question-modal {
  width: 750px;
  padding: 20px;
  background-color: white;
  border: 3px solid black;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.question-modal h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.question-modal ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.question-modal li {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 5px;
}

.question-modal button {
  margin-top: 10px;
  margin-left: 80%;
  background: #000000;
  border-radius: 7px;
  color: white;
  padding: 10px 15px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
}

.answer-area{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.question-block {
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-text{
  position: absolute;
  max-width: 600px;
  margin-left: 3%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: auto;
}

.outer-border {
  width: 624px;
  height: 427px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 40px;
}

.inner-border {
  border: 3px solid #C6E36F;
  padding: 40px;
  height: calc(100% - 80px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.border-red {
  border: 3px solid #FBA094;
  padding: 40px;
  height: calc(100% - 80px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  font-size: 60px;
  font-weight: lighter;
  cursor: pointer;
}

.content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h3 {
  margin-top: 0;
  font-size: 48px;
}

.content img {
  width: 250px;
  height: 250px;
  margin-top: 30px;
}


@media screen and (max-width: 100px) {
  .modal {
    width: 80%;
    height: 200px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
