.game-board {
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.question-modal {
  width: 1000px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question-modal h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.question-modal ul {
  list-style-type: none;
  padding: 0;
}

.question-modal li {
  margin-bottom: 10px;
}

.question-modal button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
}
