<user-header></user-header>
<div class="victory-container">
    <div class="victory-area">
        <div class="players-info">
        <h1 class="victory-text">Победа!</h1>
            <div class="player">
                <h2 class="first">1</h2>
                <img class="icon-winner" src="../../../../../../assets/images/winner-player.svg" alt="winner">
                <p class="player-name">Игрок 1</p>
                <img src="../../../../../../assets/images/victory-points.svg" alt="crown" class="crown">
                <p class="score">10</p>
            </div>
            <div class="player">
                <h2>2</h2>
                <img class="icon-loser" src="../../../../../../assets/images/loser-player.svg" alt="loser">
                <p class="player-name">Игрок 2</p>
                <img src="../../../../../../assets/images/victory-points.svg" alt="crown" class="crown">
                <p class="score">8</p>
            </div>
            <div class="btn-block">
                <button class="btn" (click)="navigateMain()">На главную</button>
                <button class="btn" (click)="navigateSearch()">Новая игра</button>
            </div>
        </div>
        <img class="area" src="../../../../../../assets/images/victory-area.svg" alt="victory-area">
    </div>
    <img src="../../../../../../assets/images/cat-win.svg" alt="cat">
</div>
