.main-container{
  padding: 5px;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 10.2% ;
  margin-top: 4%;
}

.main{
  margin-left: 20%;
}

.mainImg {
  position: relative;
  align-content: right;
}

.vectorBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainVector{
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.VectorTxt {
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
}

.txt {
  margin-top: 20px
}

.btn {
  margin-top: 40px;
  display: flex;
  margin-bottom: auto;
  background-color: #000000;
  border-radius: 7px;
  padding: 10px 25px;
  color:white;
}