<app-header></app-header>
<div class="main-container">
  <div class="main">
    <div class="vectorBlock">
      <div class="mainVector"><img src="../../../assets/images/main-vector.svg" alt="mainVector"/>
      <h1 class="VectorTxt">Логлайн проекта</h1>
    </div>
    </div>
    <div class="mainTxt">
      <h2 class="txt">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </h2>
    </div>
    <div class="mainImg"><img src="../../../assets/images/main-picture.svg" alt="main-img" /></div>
  </div>
  <div class="proceedBtn">
    <div class="btn">
      <a routerLink="/registration">Приступить</a></div>
    </div>
</div>
