.mainContainer {
  display: grid;
  margin-bottom: 135px;
}

.mainVector img {
  width: 619.75px;
  height: 129.53px;
  margin-left: 94px;
  margin-top: 94px;
}

.mainVectorText {
  position: absolute;
  width: 598px;
  height: 114px;
  left: 112px;
  top: 161px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
}

.mainDescription {
  width: 611px;
  height: 94px;
  margin-left: 94px;
  margin-top: 18.47px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.proceedButton {
  width: 134px;
  height: 35px;
  margin-left: 94px;
  margin-top: 29px;
}

.mainPicture {
  position: absolute;
  width: 444px;
  height: 309.5px;
  left: 741px;
  top: 159px;
}

.proceedButton button {
  background-color: black;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 134px;
  height: 35px;
  border-radius: 7px;
  padding: 9px 27px;
}
