<app-header></app-header>
<div class="main-container">
  <div class="main">
    <div class="vectorBlock">
      <div class="mainVector"><img src="../../../assets/images/main-vector.svg" alt="mainVector"/>
      <h1 class="VectorTxt">Выбирай школьный предмет, <br> изучай темы, сражайся за территорию <br> и стань лучшим игроком!</h1>
      <img class="mainImg" src="../../../assets/images/main-picture.svg" alt="main-img"/>
    </div>
    </div>
      <h2>
        Образовательно-развлекательная платформа, которая превращает учебу в <br> увлекательное приключение. 
        Отвечай на вопросы, получай очки и покоряй <br> виртуальные территории знаний, пока не доберешься до здания противника и не <br> уничтожишь его. 
        Прокачай свои знания и стань лучшим игроком!
      </h2>
      <h2 class="txt"><strong>Присоединяйтесь к StudyUp сегодня и откройте для себя новый способ обучения!</strong></h2>
      <button class="btn" routerLink="/registration">Приступить</button>
    </div>
  </div>