.main-container{
  padding: 5px;
  margin: 0 auto;
  max-width: 1400px;
  margin-bottom: 15% ;
  margin-top: 8.8%;
}

.main{
  grid-template-columns: 670px 500px;
  grid-template-rows: 155px 115px;
  grid-gap: 10px;
  grid-auto-rows: minmax(0, auto);
  grid-auto-columns: minmax(0,auto);
  display: grid;
  justify-content: center;
}

.vectorBlock {
  grid-column: 1/1;
  grid-row: 1/1;
}

.mainTxt {
  grid-column: 1/2;
}

.proceedBtn {
  grid-column: 1/1;
  justify-content: start;
}

.mainImg {
  grid-column: 2/2;
  grid-row: 1/2;
}

.vectorBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainVector{
  display: flex;
  justify-content: center;
  align-items: center; /* Путь к картинке */
  background-repeat: no-repeat; /* Фон не повторяется */
  background-size: cover; /* Растягиваем  фон по высоте и ширине */
  background-position: center;
}

.VectorTxt {
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
}

.txt {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
}

a {
  color:white;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  text-decoration: none;
}

.proceedBtn{
  display: flex;
  margin-left: 110px;
  margin-bottom: auto;
}

.btn {
  display: flex;
  margin-bottom: auto;
  background-color: #000000;
  border-radius: 7px;
  padding: 10px 25px;
}