.reg__container{
  padding: 10px  10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/images/registr-bg.svg) center center no-repeat;
  background-size: 100%;
}

.reg__block {
  margin-top: 10%;
  margin-right: 40%;
  margin-bottom: 5.6%;
  font-family: 'Rubik', sans-serif;
}

.title {
  margin-left: 10%;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.input__block input{
  border: 2px solid #000000;
  border-radius: 7px;
  padding: 16px 300px 16px 18px;
  font-family: 'Rubik', sans-serif;
}

a {
  color: #5F5F5F;
}
.userName__input{
  margin-bottom: 30px;
}

.email__input {
  margin-bottom: 30px;
}

.password__input{
  margin-bottom: 30px;
}

.login{
  margin-left: 30%;
  margin-bottom: 10px;
}

.links input{
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
}

.checkbox{
  margin-left: 3%;
  padding: 5px;
  margin-bottom: 30px;
}

.signUp button {
  background: #000000;
  border-radius: 7px;
  padding: 10px 20px ;
  color: #FFFFFF;
  margin-left: 30%
}

.error {
  position: relative;
}

.error p {
  position: absolute;
}

@media screen and (max-width: 1100px) { 
  .reg__block {
    scale: 80%;
  }
}

@media screen and (max-width:800px) {
  .title{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .reg__container{
    background: transparent;
  }
  .reg__block{
    margin-right: 0;
  }
}