.reg__containter{
  padding: 10px  10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/images/registr-bg.svg) center center no-repeat;
  background-size: 100%;
}

.reg__block {
  margin-top: 10%;
  margin-right: 40%;
  margin-bottom: 5.6%;
  font-family: 'Rubik', sans-serif;
  
}

.title {
  margin-left: 10%;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.input__block input{
  border: 2px solid #000000;
  border-radius: 7px;
  padding: 16px 300px 16px 18px;
  font-family: 'Rubik', sans-serif;
}

.links a {
  font-size: 0.875rem;
  line-height: 1rem;
  text-decoration-line: underline;
  margin-left: 350px;
}

a {
  color: #5F5F5F;
}
.userName__input{
  margin-bottom: 30px;
}

.email__input {
  margin-bottom: 30px;
}

.password__input{
  margin-bottom: 30px;
}

.login{
  margin-left: 30%;
  margin-bottom: 10px;
}

.links input{ 
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
}

.checkbox{
  margin-left: 3%;
  padding: 5px;
  margin-bottom: 30px;
}

.signUp button {
  background: #000000;
  border-radius: 7px;
  padding: 10px 20px ;
  color: #FFFFFF;
  margin-left: 30%
}

// .login button {
//   color: #FFFFFF;
//   background: #000000;
//   border-radius: 7px;
//   padding: 10px 25px;
//   margin-left: 19px;
// }












// .rectangle img {
//   background-color: white;
// }

// .line {
//   position: absolute;
//   top: 101px;
// }

// .signUpPage {
//   margin-bottom: 0;
//   margin-top: 53.1px;
//   background-color: #C6E36F;
//   font-family: 'Rubik', sans-serif;
// }

// .cat {
//   position: absolute;
//   height: 343.6851234766387px;
//   width: 371.50854908110506px;
//   left: 753px;
//   top: 154px;
//   transform: rotate(-0.94deg);
// }

// .title {
//   background-color: #C6E36F;
//   position: absolute;
//   left: 139px;
//   top: 170px;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 48px;
//   line-height: 57px;
// }

// .input1 {
//   position: absolute;
//   background-color: #C6E36F;
//   z-index: 1;
//   top: 257px;
//   left: 94px;
// }

// .input2 {
//   position: absolute;
//   background-color: #C6E36F;
//   z-index: 2;
//   top: 336px;
//   left: 94px;
// }

// .input3 {
//   position: absolute;
//   background-color: #C6E36F;
//   z-index: 3;
//   top: 415px;
//   left: 94px;
// }

// input {
//   width: 480px;
//   height: 49px;
//   line-height: 49px;
//   border-radius: 7px;
//   padding-left: 18px;
//   resize: none;
//   font-style: normal;
//   font-size: 14px;
//   border: 2px solid #000000;
// }

// .login {
//   position: absolute;
//   display: flex;
//   left: 246px;
//   top: 486px;
//   font-size: 14px;
//   line-height: 16.59px;
//   width: 171px;
// }

// .checkbox{
//   position: absolute;
//   left: 169px;
//   top: 513px;
//   white-space: pre;
//   font-size: 14px;
//   line-height: 16.59px;
// }

// .signUp {
//   position: absolute;
//   left: 241px;
//   top: 579px;
// }

// .signUp button {
//   background-color: black;
//   color: white;
//   border-radius: 7px;
//   padding: 9px 20px;
// }

// a {
//   color: #5F5F5F;
// }

// .checkbox input[type=checkbox] {
//   position: absolute;
//   left: -35px;
//   top: -3px;
//   width: 20px;
//   height: 20px;
// }

// .error {
//   color: red;
// }
