<div class="signUpPage">
  <div class="title">Создать аккаунт</div>
  <div class="textarea1"><textarea placeholder="Имя пользователя"></textarea></div>
  <div class="textarea2"><textarea placeholder="E-mail"></textarea></div>
  <div class="textarea3"><textarea placeholder="Пароль"></textarea></div>
  <div class="rectangle"><img src="../../../assets/images/Rectangle1.svg" alt="Rectangle1" /></div>
  <div class="line"><img src="../../../assets/images/Line1.svg" alt="Line1" /></div>
  <div class="cat"><img src="../../../assets/images/cat2.svg" alt="cat2" /></div>
  <div class="login">Уже есть аккаунт? <a routerLink="/login">Войти</a></div>
  <div class="checkbox"><input type="checkbox" />
    Я принимаю <a href="src/components/RegistrationPage">условия пользовательского соглашения</a>
    <br />        и даю <a href="src/components/RegistrationPage">согласие на обработку персональных данных</a></div>
  <div class="signUp"><button>Зарегистрироваться</button></div>
</div>
