<app-header></app-header>
<div class="reg__container">
  <div class="reg__block">
    <h1 class="title">Создать аккаунт</h1>
    <div class="input__block">
      <form [formGroup]="registrationForm" (ngSubmit)="createUser()">
        <div class="userName__input">
          <input placeholder="Имя пользователя" formControlName="userName">
          <div *ngIf="userName.touched" class="error">
            <p>Имя пользователя обязательно</p>
          </div>
        </div>
        <div class="email__input">
          <input placeholder="E-mail" type="email" formControlName="email">
          <div *ngIf="email.invalid && email.touched" class="error">
            <p *ngIf="email.errors.required">E-mail обязателен</p>
            <p *ngIf="email.errors?.['email']">Некорректный e-mail</p>
          </div>
        </div>
        <div class="password__input">
          <input placeholder="Password" type="password" formControlName="password">
          <div *ngIf="password.invalid && password.touched" class="error">
            <p *ngIf="password.errors.required">Пароль обязателен</p>
            <p *ngIf="password.errors.pattern">Пароль должен быть длиннее 7 символов и содержать цифры</p>
          </div>
        </div>
        <div class="links">
          <div class="login">Уже есть аккаунт? <a routerLink="/login">Войти</a></div>
          <div class="checkbox"><input type="checkbox"/>
            Я принимаю <a href="src/components/RegistrationPage">условия пользовательского соглашения</a>
            <br/> и даю <a href="src/components/RegistrationPage">согласие на обработку персональных данных</a></div>
          <div class="signUp">
            <button [disabled]="registrationForm.invalid">Зарегистрироваться</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
